{% extends "base.html" %}

{% block window_title %}Sign In{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center">Sign In</h1>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}
                    {{ form.username(class="form-control" + (" is-invalid" if form.username.errors else ""), size=32) }}
                    {% if form.username.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}<span>{{ error }}</span>{% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {{ form.password(class="form-control" + (" is-invalid" if form.password.errors else ""), size=32) }}
                    {% if form.password.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}<span>{{ error }}</span>{% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group form-check">
                    {{ form.remember_me(class="form-check-input") }}
                    {{ form.remember_me.label(class="form-check-label") }}
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-primary btn-block") }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
